{% extends "base.html" %}

{% block title %}List{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="css/fileuploader.css" type="text/css"/>
	<link rel="stylesheet" href="css/jquery.cropzoom.css" type="text/css"/>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="js/fileuploader.js"></script>
	<script type="text/javascript" src="js/jquery.cropzoom.js"></script>
	
	<script type="text/javascript">
		var upload_batch_id = null,
			upload_save_url = null,
			upload_cancel_url = null,
		    starttime = new Array(),
		    bytesTransfered = new Array(),
		    uploadTransferRate = new Array(),
		    remainingBytes = new Array(),
		    averageUploadTransferRate = 0.0,
		    totalBytesLeft = 0.0,
			uploadingSize = 0,
			save_clicked=false;

		$j(document).ready(function(){
			$j("#dialog").dialog({
				height: 500, 
				width: 600, 
				autoOpen: false, 
				modal:true,
				close: function() {
						if(!save_clicked) {
							$j.get(upload_cancel_url);
							$j('#file-list').html('');
						}},
			});
			
			$j("#edit_dialog").dialog({
				height: 500,
				width:600,
				autoOpen:false,
				modal:true,
				close: function() {
						$j('#crop_container').html('');
						$j('#rotate_container').html('');
						$j('#aspect_ratio').removeAttr('checked');
						},
			});
			
			$j('#upload_save').click(function(){
				save_clicked = true;
				$j.ajax({async: false, url: upload_save_url, data: $j('#upload_form').serializeArray(), type:'POST'});
				closeUploadDialog();
				location.reload();
			});
			
			$j('#upload_cancel').click(function(){
				save_clicked = false;
				$j.get(upload_cancel_url);
				closeUploadDialog();
			});
		});
		
		function closeUploadDialog(){
			$j('#dialog').dialog('close');
			$j('#file-list').html('');
		}
		
		function onUpload(id, filename){
			$j('#file-list').append('<li id="file-upload-'+id+'">'+filename+'<div id="progressBar' + id + '" style="height:15px; width:200px;"></div></li>');
			$j( "#progressBar" + id ).progressbar({
				value: 0
			});
			starttime[id] = new Date().getTime() / 1000;
			bytesTransfered[id] = 0;
			uploadingSize++;
		}
		
		function onProgress(id, filename, loaded, total) {
			var percentage = loaded / total * 100;
			var currentBytesTransfered = loaded - bytesTransfered[id];
			bytesTransfered[id] = loaded;
			uploadTransferRate[id] = currentBytesTransfered / (new Date().getTime() / 1000.0 - starttime[id]); //bytes per second
			remainingBytes[id] = total - loaded;
			totalBytesLeft = 0.0;
			var totalUploadTransferRate = 0.0;
			for(i=0; i < remainingBytes.length; i++) {
				totalBytesLeft += remainingBytes[i];
				// Count only the files not are not yet uploaded
				if(uploadTransferRate[i] > 0.000001) {
					totalUploadTransferRate += uploadTransferRate[i];
				}
			}
			// If uploading all the files is not yet finished...
			if(uploadingSize > 0 && totalUploadTransferRate > 0) {
				averageUploadTransferRate = totalUploadTransferRate / uploadingSize;
				var time_left = Math.floor(totalBytesLeft / averageUploadTransferRate);
				var hours_left = Math.floor(time_left / 3600);
				var minutes_left = Math.floor((time_left % 3600) / 60);
				var seconds_left = time_left % 60;
				if(hours_left > 0) {
					$j("#time-left").text("Uploading " + uploadingSize + " files - approx " + hours_left + " hours " 
						+ minutes_left + " minutes " + seconds_left + " seconds left.");
				}
				else if(minutes_left > 0) {
					$j("#time-left").text("Uploading " + uploadingSize + " files - approx " + minutes_left + " minutes " 
						+ seconds_left + " seconds left.");
				}
				else {
					$j("#time-left").text("Uploading " + uploadingSize + " files - approx " + time_left + " seconds left.");
				}
			}
			else {
				$j("#time-left").text("Uploading completed");
			}
			$j( "#progressBar" + id ).progressbar("value", percentage);
		}
		
		function onUploadComplete(id, filename, response){
			uploadingSize--;
			$j('#file-upload-'+id).html('<img src="'+response['thumbnail_url']+'" /><br/>'+
										'<a href="javascript:editPhotos(' + id + ', \'' + encodeURI(response.edit_url) + '\', \'' + encodeURI(response.image_url) + '\', ' + response.height + ', ' + response.width + ')">edit photo</a><br/>' +
										'<input type="hidden" name="id-'+id+'" value="'+response['id']+'" />'+
										'<textarea name="caption-'+id+'" placeholder="Caption"></textarea><br/>'+
										'<input type="text" name="client-'+id+'" placeholder="Clients in this picture..."/><br/>'+
										'<input type="checkbox" name="display-'+id+'" value="displayed" /> Display this image publicly on my profile');
			$j( "#progressBar" + id ).progressbar("value", 100);
		}
	
		function editPhotos(id, edit_url, image_url, height, width) {
			ar_unlocked_options = {
				enableZoom:false,
				width: width,
				height: height,
				expose:{
					slidersOrientation: 'horizontal',
					rotationElement: '#rotate_container'
				},
				image:{
					source: image_url,
					width: height,
					height: width,
					startZoom: 100,
					snapToContainer: true
				}
			};
		
			ar_locked_options = {}
			$j.extend(true, ar_locked_options, ar_unlocked_options, {'selector': {
				x: 0,
				y: 0,
				w: 500,
				h: 300,
				aspectRatio: true
			}});
			var cropzoom = $j('#crop_container').cropzoom(ar_unlocked_options);
			
			$j('#aspect_ratio').change(function(){
				$j('#crop_container').html('');
				$j('#rotate_container').html('');
				
				if($j(this).attr('checked')){
					cropzoom = $j('#crop_container').cropzoom(ar_locked_options);
				}
				else{
					cropzoom = $j('#crop_container').cropzoom(ar_unlocked_options);
				}
			});
			
			$j('#send_crop').click(function(){
				cropzoom.send(edit_url, 'post', {}, function(data){
														if(data == '"ok"') {
															// Change thumbnail in upload dialog box
															var newSrc = $j('#file-upload-'+id + ' > img').attr('src');
															$j('#file-upload-'+id + ' > img').replaceWith('<img src="'+newSrc+'" />');
															$j('#edit_dialog').dialog('close');
														}	
													});
				return false;
			});
			$j("#edit_dialog").dialog("open");
			//window.location = edit_url; // Remove this after edit pop-up creation
		}
	
		function uploadPhotos() {
			$j("#dialog").dialog("open");
			$j.post('{% url core.views.start_upload_batch %}', {}, setUploadBatch, 'json');
		}
		
		function setUploadBatch(data){
			upload_batch_id = data['upload_batch_id'];
			upload_save_url = data['upload_save_url'];
			upload_cancel_url = data['upload_cancel_url'];
			
			var uploader = new qq.FileUploaderBasic({
				button: $j('#file-uploader')[0],
				action: '{% url core.views.upload %}',
				params: {'upload_batch_id': data['upload_batch_id']},
				allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
				onSubmit: onUpload,
				onProgress: onProgress,
				onComplete: onUploadComplete
			});
		}
	</script>
{% endblock %}

{% block content %}
	<a href="javascript:uploadPhotos()">Upload photos</a>
	<div id="dialog" title="Upload Photos">
		<div id="message-preview-box">
			<p id="time-left"></p>
			<div class="qq-upload-button" id="file-uploader">
				Upload a file
			</div>
			<form id="upload_form">
				<ul id="file-list"></ul>
			</form>

			<button id="upload_save">Save</button>
			<button id="upload_cancel">Cancel</button>
		</div>
	</div>
	
	<div id="edit_dialog" title="Edit Photos">
		<div id="message-preview-box">
			<h3>Crop</h3>
			<input type="checkbox" id="aspect_ratio" name="aspect_ratio" value="keep" /><label for="aspect_ratio">keep 5x3 ratio for optimum display</label>
			<div id="crop_container"></div>
			<div id="rotate_container"></div>
			<button id="send_crop">Crop</button>
		</div>
	</div>
	
	<h3>Photos</h3>
	{% for image in images %}
		<p>
			<img src="{{ image.thumbnail.url }}" /><br/>
			<a href="{% url core.views.edit image.id %}">edit</a><br/>
			Caption: {{ image.caption }}<br/>
			Client: {{ image.client }}<br/>
			Display: {{ image.display }}
		</p>
	{% endfor %}
{% endblock %}
