{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		function createProgressBar(id) {
			var progressDiv = document.createElement("div");
			progressDiv.id = id;
			document.body.appendChild(progressDiv);
		}
	
		function onSubmit(id, fileName) {
			createProgressBar(id);
		}
	
		function onProgress(id, fileName, loaded, total) {
			//$j(function() {
			//	$j( "#" + id ).progressbar({
			//		value: loaded / total * 100
			//	});
			//});
			alert(loaded + '/' + total);	
		}
	
		$j(document).ready(function(){
			var uploader = new qq.FileUploader({
				element: $j('#file-uploader')[0],
				action: '{% url core.views.upload %}',
				onSubmit: onSubmit,
				onProgress: onProgress
			});
		});
	</script>
{% endblock %}

{% block content %}
	<div id="file-uploader">
		
	</div>
	<div id="progressbar"></div>
{% endblock %}
