{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="css/fileuploader.css" type="text/css"/>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="js/fileuploader.js"></script>

	<script type="text/javascript">
		function createProgressBar(id) {
			var progressDiv = document.createElement("div");
			progressDiv.id = id;
			document.body.appendChild(progressDiv);
		}
	
		function onSubmit(id, fileName) {
			createProgressBar(id);
		}
	
		$j(document).ready(function(){
			var uploader = new qq.FileUploaderBasic({
				button: $j('#file-uploader')[0],
				action: '{% url core.views.upload %}',
				onSubmit: onUpload,
				onComplete: onUploadComplete
			});
		});
		
		function onUpload(id, filename){
			$j('#file-list').append('<li id="file-upload-'+id+'">'+filename+'</li>')
		}
		
		function onUploadComplete(id, filename, response){
			$j('#file-upload-'+id).append(' Upload Success')
		}
	</script>
{% endblock %}

{% block content %}
	<div class="qq-upload-button" id="file-uploader">
		Upload a file
	</div>
	<ul id="file-list"></div>
{% endblock %}
